.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}  
.headroom--unpinned {top: -100px;   -webkit-transform: rotateY(90deg);}  
.headroom--pinned {top: 0;}  

body{
    background: linear-gradient(90deg, #FFF, #333);
}
.navbar{
    position: fixed;
    z-index: 100;
    background: linear-gradient(90deg, #FFF, #333);
    border: 0px;
    color: white;
}
 .navbar-brand{
  color: #333 !important;
  font-size: 20px;
}

.icon-home{
  font-size: 30px;
} 

ul.navbar-right{
  float: right;
}

.navbar-nav>li>a{
  font-size: 20px;
  color: white !important;
}
.navbar-nav>li>a:hover{
  color: black !important;
}


footer {
    position:relative;
    bottom:0;
    width:100%;
    height:10px;
    margin-top:38px;
    border-top:1px #e3e3e3 solid;
    color:#999;
}

footer small {
    margin-left:10px;
}

footer small a:hover {
    text-decoration:none;
}
